@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* colors */

:root {
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: #f96262;
  --darkGrayisRed: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
}

.logo {
  display: inline-block;
}

.container {
  display: flex;
  height: 100vh;
}

.hero-image {
  flex-basis: 45%;
  background: url(../images/hero-desktop.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  flex-basis: 55%;

  padding-left: 10%;

  background: linear-gradient(135deg,
      hsla(0, 0%, 100%, 0.2),
      hsla(0, 100%, 98%, 0.2)),
    url(../images/bg-pattern-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-main h1 {
  font-size: 9rem;
  letter-spacing: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--darkGrayisRed);
}

.hero-main h1 span {
  color: var(--desaturatedRed);
  font-weight: 300;
}

.hero-main p {
  color: var(--desaturatedRed);
  max-width: 55rem;
  padding-right: 10px;
  line-height: 2;
  margin-top: 1rem;
  font-size: 2.1rem;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 8vh;
  margin-left: 10%;
}

.logo img {
  transform: scale(1.3);
  margin-left: 20%;
}

.input {
  margin-top: 3rem;
  width: 40rem;
  height: 5rem;
  border-radius: 40px;
  border-color: var(--desaturatedRed);
  border-style: solid;
  border-width: 1px;
}

.input::placeholder {
  color: var(--desaturatedRed);
  font-weight: 350;
  font-size: 1.4rem;
  padding-left: 2rem;
}

.button {
  padding: 1.33rem 3.5rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 30px;
  box-shadow: 0px 3px 13px 5px hsla(0, 36%, 70%, 0.242);
  transform: translateX(-60%);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}



@media screen and (max-width: 600px) {

  .hero-image {
    flex-basis: 35%;
    background: url(../images/hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .container {

    flex-direction: column-reverse;

  }

  .hero {
    text-align: center;
    padding: 0;
  }

  .logo {
    margin-top: 4vh;
  }

  .logo img {
    transform: scale(1);
    margin-left: 0;
  }

  .hero-main h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: 400;
    color: var(--darkGrayisRed);
  }

  .hero-main {
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  form {
    padding-left: 5rem;
  }

  .input {
    width: 60vw;
    margin: 0;
  }
}