*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: uppercase;
  height: 100vh;
  overflow-x: hidden;
  background-color: $light-grayish-blue;
}

.container {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
}
