.hero {
  &__header {
    margin-bottom: 20px;
    p {
      font-family: $font-headings;
      color: $grayish-blue;
      letter-spacing: 5px;
      font-size: 1rem;
    }
    p span {
      background-color: black;
      color: white;
      padding: 4px 6px;
      border-radius: 15px;
      margin-right: 10px;
      padding-left: 8px;
    }
  }

  &__motto {
    font-size: 3.8rem;
    font-family: $font-headings;
    margin-bottom: 40px;
    color: $very-dark-blue;
  }
  &__details {
    text-transform: initial;
    font-family: $font-body;
    margin-bottom: 60px;
    color: $dark-grayish-blue;
    font-size: 1.2rem;
  }

  &__demo-btn {
    button {
      background-color: $red;

      text-transform: uppercase;
      color: $light-grayish-blue;
      font-family: $font-headings;

      letter-spacing: 1px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      transition: background-color 0.5s;
      padding: 15px 30px;
      font-size: 1rem;
      &:hover {
        background-color: lighten($red, 10%);
      }
    }
    span {
      font-family: $font-headings;
      color: $grayish-blue;

      letter-spacing: 3px;
      margin-left: 5px;
      font-size: 1rem;
    }
  }
}

main .container {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  align-items: start;
  .hero {
    flex-basis: 60%;
  }
  .devices {
    flex-basis: 50%;
    align-self: center;

    img {
      width: 180%;
      max-width: 80vw;
      height: auto;
    }
  }
}

@media screen and (max-width: 600px) {
  main .container {
    flex-direction: column-reverse;
    margin-top: 10%;
    align-items: start;
    .hero {
      margin-top: 100px;
      margin-bottom: 30px;
      flex-basis: 50%;
      width: 100%;

      &__header {
        margin-bottom: 10px;
      }
      &__motto {
        font-size: 3rem;
        margin-bottom: 20px;
      }
      &__demo-btn {
        span {
          font-size: 0.8rem;
        }
      }
    }
    .devices {
      flex-basis: 50%;
      align-self: center;
      width: 100%;

      img {
        width: 180%;
        max-width: unset;
        height: auto;
      }
    }
  }
}
