@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

//fonts
$font-main: 'Montserrat', sans-serif;

//colors

$linear-gradient-end: hsl(236, 72%, 79%);
$linear-gradient-start: hsl(237, 63%, 64%);

$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);
