@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*:before,
*::after {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6fe;
  overflow-x: hidden;
}

body::after {
  content: '';
  width: 100%;
  height: 800px;
  position: absolute;
  top: -50px;
  right: -100px;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  z-index: -1;
}

body::before {
  content: '';
  width: 40%;
  height: 300px;
  position: absolute;
  bottom: -900px;
  left: -50px;
  background-image: url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  z-index: -1;
}

@media screen and (min-width: 960px) {
  body::before {
    bottom: 0;
  }
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.blue {
  background: -webkit-gradient(linear, right top, left top, from(#696fdd), to(#a3a8f0));
  background: linear-gradient(to left, #696fdd, #a3a8f0);
}

@media screen and (min-width: 960px) {
  body {
    height: 100%;
  }
}

.header {
  text-align: center;
  margin: 80px auto;
}

.header__title {
  color: #494c5f;
}

.toggle {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle__selection {
  color: #6d708d;
}

.toggle__checkbox {
  display: none;
}

.toggle__checkbox:checked ~ .toggle__switch::after {
  left: 30px;
}

.toggle__switch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  margin: 0 20px;
  cursor: pointer;
}

.toggle__switch::after {
  position: absolute;
  content: '';
  border-radius: 50px;
  background-color: white;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-card {
  background-color: white;
  border-radius: 5px;
  margin: 40px 5%;
  padding: 40px 0;
  text-align: center;
  max-width: 500px;
  width: 80%;
}

.price-card__title {
  color: #494c5f;
  position: relative;
  margin-bottom: 20px;
}

.price-card__price {
  font-size: 6rem;
  position: relative;
  margin-bottom: 30px;
}

.price-card__detail {
  font-size: 1.6rem;
  position: relative;
  margin-bottom: 30px;
  color: #6d708d;
}

.price-card__btn {
  width: 80%;
  padding: 20px 20px;
  color: #f6f6fe;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #f6f6fe;
}

.price-card__btn:hover {
  background-image: none;
  background-color: transparent;
  border: 1px solid #696fdd;
  color: #696fdd;
}

.price-card__btn:not(.blue) {
  color: #696fdd;
}

.price-card__btn:not(.blue):hover {
  border: 1px solid #f6f6fe;
  color: #f6f6fe;
}

.blue * {
  color: #f6f6fe;
}

.price-card__price::after, .price-card__detail::after {
  content: '';
  position: absolute;
  margin: 0 10%;
  width: 80%;
  height: 1px;
  background-color: #b3b5c6;
  bottom: -15px;
  left: 0;
  z-index: 99;
}

@media screen and (min-width: 960px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-card {
    margin: 0;
    padding: 30px 30px;
    width: 250px;
  }
  .price-card.big {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
